html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.Header {
  height: 200px;
  width: 100%;
  background-image: url("./img/banner-2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.Header h1 {
  font-size: 3rem;
}
.searchbar {
  height: 50px;
  background-color: rgb(53, 132, 250);
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbar ul {
  display: flex;
  list-style-type: none;
}
.searchbar h5 {
  margin-right: 30px;
  font-size: 1.4rem;
  color: #fff;
}
.searchbar li {
  margin-right: 40px;
  color: #fff;
  font-size: 1.2rem;
}
.container {
  padding: 0 5%;
  background-image: url("./img/course-phone.png");
  background-size: 150px 300px;
  background-position: right center;
  background-repeat: repeat-y;
}
.bodyContent {
  display: flex;
  width: 100%;
}
.bodyContent__left {
  width: 30%;
}
.bodyContent__right {
  width: 70%;
}
.ContentCard {
  width: 90%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.imgBox {
  background-image: url("./img/avatar-2.jpg");
  height: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}
.title {
  width: 40%;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.content {
  width: 60%;
}
.blueText {
  color: blue;
}
.imgBox2 {
  background-image: url("./img/backend.png");
  height: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bodyContent__left h1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.Card__Text ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;

  padding-inline-start: 0px;
}
.Text__Container {
  padding: 10px 10px 10px 10px;
}
.yellowStarP {
  color: rgb(238, 204, 14);
  margin-right: 5px;
}
.Card__Text p {
  color: darkgrey;
}
.imgbox3 {
  background-image: url("./img/tdknlt.png");
}
.contentRight__Container {
  padding: 0 3%;
}
.skillRow {
  display: flex;
  margin-bottom: 40px;
}
.skillTitle {
  width: 20%;
  text-transform: uppercase;
}
.skillBar {
  width: 80%;
  border-radius: 4px;
  background-color: darkgrey;
  height: 40px;
}
.BarPercent {
  width: 90%;
  height: 100%;
  background-color: rgb(253, 52, 119);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.cssSkill {
  width: 70%;
  background-color: rgb(164, 84, 240);
}
.javascriptSkill {
  width: 50%;
  background-color: rgb(103, 112, 248);
}
.golangSkill {
  width: 85%;
  background-color: rgb(0, 81, 255);
}
.quoteContainer {
  border-left: 3px solid grey;
  padding: 5px 10px 5px 2%;
  margin-left: 20px;
  background-color: rgb(213, 214, 214);
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Card__Container {
  padding: 20px;
}
.Card__Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Circle__icon {
  width: 80px;
  height: 80px;
  background-color: rgb(0, 102, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.Card__Content p {
  text-align: justify;
}
.contentRight__Container h1:not(:first-of-type) {
  margin-top: 40px;
  margin-bottom: 40px;
}
.Footer {
  height: 50px;
  width: 100%;
  background-color: rgb(53, 132, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 30px;
}
